PROXMOX_NODE_NAME=
ACME_EMAIL=

NFS_PATH=
NFS_SUBDIR_PATH_PATTERN=

# IPs
NFS_IP=
PROXMOX_IP=
TRAEFIK_FIXED_IP=
LOADBALANCER_IP_RANGE=
VIP_IP=

# Domains
TRAEFIK_DOMAIN=
UPTIME_KUMA_DOMAIN=
JELLYFIN_DOMAIN= 
JELLYSEERR_DOMAIN=
WHOAMI_DOMAIN=
HOMEPAGE_DOMAIN=
PROMETHEUS_DOMAIN=
GRAFANA_DOMAIN=
ACTUAL_DOMAIN=
ALLOY_DOMAIN=
SPEEDTEST_DOMAIN=
PROXMOX_DOMAIN=
ADGUARD_DOMAIN=
NEXTCLOUD_DOMAIN=
AUDIOBOOKSHELF_DOMAIN=
CALIBRE_DOMAIN=

# Authorizations
NEXTCLOUD_USERNAME=
NEXTCLOUD_PASSWORD=
TRAEFIK_USERNAME=
TRAEFIK_PASSWORD=
CROWDSEC_AGENT_USERNAME=
CROWDSEC_AGENT_PASSWORD=
DNS_USERNAME=
DNS_PASSWORD=
CALIBRE_USERNAME=
CALIBRE_PASSWORD=

# Keys, Secrets, Tokens, API keys
CROWDSEC_BOUNCER_KEY=
# TODO: need to find better subst option
CROWDSEC_SECRET=${CROWDSEC_SECRET}
CROWDSEC_LAPI_SECRET=
CROWDSEC_REGISTRATION_TOKEN=
GRAFANA_API_KEY=
PROMETHEUS_URL=
JELLYSEERR_API_KEY=
JELLYFIN_API_KEY=
AUDIOBOOKSHELF_API_KEY=
SPEEEDTEST_API_KEY=
PROXMOX_SECRET=
PROXMOX_TOKEN=
NTFY_WEBPUSH_PUBLIC_KEY=
NTFY_WEBPUSH_PRIVATE_KEY=
NTFY_TOPIC=