DOMAIN="kredam.dev"
PASSWORD="H_Z3Mab=L4;2!_u"

NAS_PATH=
NAS_ADDRESS=

UPTIME_KUMA_DOMAIN=
UPTIME_KUMA_PORT=

GRAFANA_DOMAIN=
GRAFANA_PORT=
PROMETHEUS_PORT=

CROWDSEC_PORT=
CROWDSEC_DOMAIN=

JELLYFIN_DOMAIN=
JELLYFIN_PORT=

JELLYSEERR_USER=
JELLYSEERR_DOMAIN=
JELLYSEERR_PORT=

PORTAINER_PORT=
PORTAINER_SECURE_PORT=
PORTAINER_DOMAIN=
PORTAINER_PATH=

#LOG_LEVEL="DEBUG"
TRAEFIK_DASHBOARD_PORT=
TRAEFIK_ACME_EMAIL=
TRAEFIK_DOMAIN=
TRAEFIK_PATH=
TRAEFIK_BOUNCER_KEY=

HOMEPAGE_PORT=
HOMEPAGE_DOMAIN=
HOMEPAGE_PATH=

AUDIOBOOKSHELF_USER=
AUDIOBOOKSHELF_DOMAIN=
AUDIOBOOKSHELF_PORT=

ATSUMERU_USER=
ATSUMERU_DOMAIN=
ATSUMERU_PORT=

BASIC_AUTH_NAME=
BASIC_AUTH_PASSWD=

CROWDSEC_AGENT_USERNAME=
CROWDSEC_AGENT_PASSWORD=
CROWDSEC_BOUNCER_KEY=